<div class="body">

  <div class="title-span">
    <h1> Willkommen {{schuelerVorname}} {{schuelerNachname}}!</h1>
  </div>

  <!-- Lehrer , Terminplanung -->
  <div class="container-row">

    <!--Lehrer span in Home -->
    <div class="box-span">
      <div class="box-span-inhalt">
        <div class="box-title">
          <h4>Kommunikation mit dem Lehrer</h4>
        </div>
        <img src="../assets/img/profile/person11.png" width="150" height="150">                 
        <div class="box-text">
          <h4> {{lehrerVorname}} {{lehrerNachname}}</h4>
          <p> Durch diese Schaltflächen können Sie schnell und einfach <br> Kontakt zu Ihrem Lehrer aufnehmen. </p>
          <div class="buttons">
            <button mat-raised-button>
              Nachricht Schreiben
            </button>
            <button mat-raised-button>
              direkt anrufen
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Terminplanung span in Home -->
    <div class="box-span" id="terminplanung-span">
      
      <div class="box-span-inhalt">

        <div class="box-title">
          <h4>Terminplanung</h4>
        </div>

        <div class="information-span">

          <!-- Custom box -->
          <div *ngIf=" termineForTodayBySchuelerId$ | async as termine">
            <div *ngFor="let termin of termine.value">
              <app-home-termin-box
                [beginn]="termin.beginn"
                [ende]="termin.ende"
                [terminStatus]="termin.terminStatus"
              ></app-home-termin-box>
            </div>
          </div>

        </div>
      
      </div>

    </div>

  </div>

  <!-- Fortschrittsverfolgung , Rechnungen herunterladen , Feedback und Bewertungen -->
  <div class="container-row" >

    <!--Fortschrittsverfolgung span in Home -->
    <div class="box-span"  id="last-row">
      <div class="box-span-inhalt">
        <div class="box-title" id="font-color-in-last-row">
          <h4>Fortschrittsverfolgung</h4>
        </div>
        <img src="../assets/img/images/1.png" width="200">                 
        <div class="box-text" id="font-color-in-last-row">
          <p>Durch diese Option können Sie Fahrausbildungskursen erstellen und aktualisieren und die Kursgebühren und Kurszeiten festlegen.</p>
          <button mat-raised-button class="button-color">
            Kursverwaltung anzeigen
          </button>
        </div>
      </div>
    </div>

    <!--Rechnungen herunterladen span in Home -->
    <div  class="box-span" id="last-row">
      <div class="box-span-inhalt">
        <div class="box-title" id="font-color-in-last-row">
          <h4>Rechnungen herunterladen</h4>
        </div>
        <img src="../assets/img/images/2.png" width="200"> 
        <div class="box-text" id="font-color-in-last-row">
          <p>Durch diese Option können Sie die Fahrstunden für Schüler und Lehrer ansehen und der Verfügbarkeit von Fahrzeugen für die praktische Ausbildung überwachen.</p>
          <button mat-raised-button class="button-color">
            Fahrstundenplanung anzeigen
          </button>
        </div>
      </div>
    </div>

    <!-- Feedback und Bewertungen -->
    <div  class="box-span"  id="last-row">
      <div class="box-span-inhalt">
        <div class="box-title" id="font-color-in-last-row">
          <h4>Feedback und Bewertungen</h4>
        </div>
        <img src="../assets/img/images/3.png" width="200"> 
        <div class="box-text" id="font-color-in-last-row">
          <p>Durch diese Option können Sie die Einnahmen und Ausgaben der Fahrschule verwalten und die Schülergebühren und Zahlungsrückständen überwachen.</p>
          <button mat-raised-button class="button-color">Finanzverwaltung anzeigen</button>
        </div>
      </div>
    </div>
    
  </div>

</div>